<po-combo name="combo" p-label="1.0.1 Pontualidade(Inicio e termino de aula, saida  e retorno para avaliação)?"
[p-options]="[{ value: '1' }, { value: ' 2' },{ value: ' 3' },{ value: ' 4' },{ value: ' 5' },{ value: ' 6' },
{ value: ' 7' },{ value: ' 8'},{ value: ' 9'},{ value: ' 10' }]"> </po-combo>
<po-combo name="combo" p-label="1.0.2 Habilitar em promover a participação do grupo e/ou aluno?"
[p-options]="[{ value: '1' }, { value: ' 2' },{ value: ' 3' },{ value: ' 4' },{ value: ' 5' },{ value: ' 6' },
{ value: ' 7' },{ value: ' 8'},{ value: ' 9'},{ value: ' 10' }]"> </po-combo>

<po-combo name="combo" p-label="1.0.3 Clareza e concisão de raciocinio e linguagem(O assunto explicado foi compreensivel)?"
[p-options]="[{ value: '1' }, { value: ' 2' },{ value: ' 3' },{ value: ' 4' },{ value: ' 5' },{ value: ' 6' },
{ value: ' 7' },{ value: ' 8'},{ value: ' 9'},{ value: ' 10' }]"> </po-combo>

<po-combo name="combo" p-label="1.0.4 Conhecimento sobre o assunto abordado atendeu as expectativas?"
[p-options]="[{ value: '1' }, { value: ' 2' },{ value: ' 3' },{ value: ' 4' },{ value: ' 5' },{ value: ' 6' },
{ value: ' 7' },{ value: ' 8'},{ value: ' 9'},{ value: ' 10' }]"> </po-combo>

<po-combo name="combo" p-label="1.0.5 Postura(Educação,Cordialidade,Etica)?"
[p-options]="[{ value: '1' }, { value: ' 2' },{ value: ' 3' },{ value: ' 4' },{ value: ' 5' },{ value: ' 6' },
{ value: ' 7' },{ value: ' 8'},{ value: ' 9'},{ value: ' 10' }]"> </po-combo>

