<div class="flex-container ">
  <po-container class="po-md-6 po-lg-4 " >
    <div class="po-row po-md-10 po-mb-2 po-text-cente " id="logo">
    </div>
    <div class="po-row po-md-12">
      <span class="po-font-subtitle po-text-color-02 po-md-10"
        >Sejam Bem Vindo, <br>
        Identifique-se abaixo com seu CPF(sem pontos)  para realização da pesquisa</span
      >
    </div>
    <form>
      <div class="po-row ">
        <po-input
          #Cpf
          class="po-md-12"
          formControlName="cpf"
          p-placeholder="CPF"
          p-icon="po-icon-warehouse"
          p-error-pattern="Informe somente números CPF: 99999999999"
          p-min-length="11"
          p-max-length="14">
        </po-input>
      </div>
      <div class="po-row">
        <po-divider class="po-md-12"></po-divider>
      </div>
      <div class="po-row">
        <po-button
          class="po-md-12"
          [p-disabled]="loginForm?.invalid"
          p-label="Acessar Portal"
          p-type="primary"


        >
        </po-button>
      </div>
    </form>
  </po-container>
</div>
