  <form [formGroup]="cadastro">
  <po-input name="input" p-label="CPF/Nome"
formControlName="nomecpf"

> </po-input>
<po-input name="input" p-label="Email"
  formControlName="email"> </po-input>
<po-input name="input" p-label="Empresa"
  formControlName="empresa"> </po-input>

  <po-page-dynamic-table p-auto-router
  p-concat-filters
  p-keep-filters
  p-title=""
  [p-actions]="actions"
  [p-page-custom-actions]="pageCustomActions"
  [p-fields]="fields"
  [p-service-api]="serviceApi"
  [p-load]="onLoad.bind(this)"
>
>
</po-page-dynamic-table>






</form>

<router-outlet></router-outlet>

