





<html>

<head>

</head>

<body>
  <p><h3>Pergunta 01 Instrutor</h3>


  <label for="">1.0.1 Pontualidade(Inicio e termino de aula, saida  e retorno para avaliação)?</label>

  <select id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>







  </select>
  <br>


  <label for="">1.0.2 Habilitar em promover a participação do grupo e/ou aluno?</label>

  <select id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <br>
  <label for="">1.0.3 Clareza e concisão de raciocinio e linguagem(O assunto explicado foi compreensivel)?</label>

  <select id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <br>
  <label for="">1.0.4 Conhecimento sobre o assunto abordado atendeu as expectativas?</label>

  <select id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <br>
  <label for="">1.0.5 Postura(Educação,Cordialidade,Etica)?</label>

  <select id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <p><h3>Pergunta 02 Material-Didático</h3>


    <label for="">2.0.1 Conteudo programatico foi apresentado e seus topicos abordados?</label>


    <select id="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <label for="">2.0.2 Exercicios praticos no sistema(Promeveram fixacao do aprendizado)?</label>

    <select id="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <label for="">2.0.3 Material Didatico(Apostila e/ou Material complementar) Adequado para consultas?</label>

    <select id="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <label for="">2.0.4 Roteiro de Aprendizado(Apresentação das informacoes foi de facil compreensao?</label>

    <select id="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>

</body>


</html>
<router-outlet></router-outlet>
