<div class="flex-container">
  <po-container class="po-md-6 po-lg-4">
    <div class="po-row po-md-12 po-mb-4" id="logo">
      <img src="https://seeklogo.com/images/T/totvs-logo-AC24AADE6C-seeklogo.com.png" alt="logotipo" />
    </div>
    <div class="po-row po-md-12">
      <span class="po-font-subtitle po-text-color-01 po-md-12 po-text-center">CTT - Pesquisa de Satisfação</span
      >
    </div>
    <form [formGroup]="loginForm">
      <div class="po-row">
        <po-input
          p-auto-focus="true"
          #cnpjCpf
          class="po-md-12"
          formControlName="cpf"
          p-placeholder="CPF"
          p-icon="po-icon-warehouse"
          p-error-pattern="Informe somente números. CPF: 99999999999"
          p-min-length="11"
          p-max-length="11"
        >
        </po-input>
      </div>
      <div class="po-row">
        <po-divider class="po-md-12"></po-divider>
      </div>
      <div class="po-row">
        <po-button
          class="po-md-12"
          [p-disabled]="loginForm?.invalid"
          p-label="Entrar"
          p-type="primary"
          (p-click)="loginSubmit()"
        >
        </po-button>
      </div>
    </form>
  </po-container>
</div>
