


<form>
  <img src="https://seeklogo.com/images/T/totvs-logo-AC24AADE6C-seeklogo.com.png" alt="center" width=100
    height=30>
    <form>
    <div class="po-row po-md-12">
    <span class="po-font-subtitle po-text-color-02 po-md-12"
      >Sejam Bem Vindo, <br>
      Identifique-se abaixo com seu CPF(sem pontos)  para realização da pesquisa</span
    >
      <div class="flex-container">
        <po-login name="CPF" p-label="CPF" class="po-md-12"    >


        </po-login>

<po-button p-label="Acessar ao portal" class="po-md-8" routerLink="/home/"> </po-button>
</div>
    </div>

  </form>
