<div class="po-wrapper" id="po-table">
    <po-dynamic-view [p-fields]="fields" [p-value]="employee"> </po-dynamic-view>
    <po-divider></po-divider>
    <po-checkbox-group name="checkboxGroup" p-label="" [p-options]="">
    </po-checkbox-group>
    <po-table [p-selectable]="true"  [p-single-select]="true" [p-sort]="true" [p-striped]="true" [p-columns]="hiringProcessesColumns" [p-items]="hiringProcessesFiltered">
    </po-table>
    <div class="po-row" id='btn'>
        <po-button class="po-md-2" p-type="primary" p-label="Ok" (click)="pesquisa()"> </po-button>
        <po-button class="po-md-2" p-label="Voltar" [routerLink]="['/login']"> </po-button>
    </div>

    <router-outlet></router-outlet>
</div>
