<div class="po-wrapper">
  <po-dynamic-view [p-fields]="fields" [p-value]="employee"> </po-dynamic-view>
  <po-divider></po-divider>
  <po-checkbox-group name="checkboxGroup" p-label="" [p-options]=""></po-checkbox-group>

  <po-table [p-selectable]="true" [p-single-select]="true" [p-sort]="true" [p-striped]="true" 
    [p-columns]="hiringProcessesColumns" [p-items]="hiringProcessesFiltered"
  (p-selected)='pesquisa()'></po-table>

  <po-button p-label="Ok" (click)="pesquisa()"> </po-button>
  <po-button p-label="Voltar" [routerLink]="['/home']"> </po-button>
  
  <router-outlet></router-outlet>
</div>
